/* DOCUMENT INFORMATION

  > UTILITY CLASSES

/////////////////////////////////////////////////*/

.util {
  &--center {
    @util center;
  }
  &--center-block {
    @util center-block;
  }
  &--center-inline-block {
    text-align: center;
  }
  &--center-text { /* ALIAS center-inline-block */
    text-align: center;
  }

  /* MARGIN TOP */
  &--mt-large {
    margin-top: 4.5rem;
  }

  &--mt-huge {
    margin-top: 6.25rem;
  }

  /* MARGIN BOTTOM */
  &--mb-small {
    margin-bottom: 1.5rem;
  }

  &--mb-medium {
    margin-bottom: 4rem;

    @mixin atMedium {
      margin-bottom: 3rem;
    }
  }

  &--mb-large {
    margin-bottom: 8rem;

    @mixin atMedium {
      margin-bottom: 5rem;
    }
  }

  &--mb-none {
    margin-bottom: 0;
  }

}
