{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "spread": true,
      "restParams": true
    }
  },
  "rules": {
    "no-console": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": 0,
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-unused-vars": 0
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  }

}
