.animation {

  /* ANIMATION NAME */
  &--move-in-left {
    animation-name: moveInLeft;
  }

  &--move-in-right {
    animation-name: moveInRight;
  }

  &--move-in-bottom {
    animation-name: moveInBottom;
  }

  /* ANIMATION DURATION */
  &--duration-one-second {
    animation-duration: 1s;
  }

  &--duration-half-second {
    animation-duration: 0.5s;
  }

  /* ANIMATION DELAY */
  &--delay-three-quarters-second {
    animation-delay: 0.75s;
  }

  &--delay-one-second {
    animation-delay: 1s;
  }

  /* ANIMATION TIMING */
  &--timing-ease-aut {
    animation-timing-function: ease-out;
  }

  /* ANIMATION FILL MODE */
  &--fill-mode-backwards {
    animation-fill-mode: backwards;
  }

  /* ANIMATION BUG FIXES */
  &--shaking-bug-fix {
    /*
      FIX FOR ANIMATION SHAKONG BUG
      APPLY IT TO THE PARENT ELEMENT
    */
    backface-visibility: hidden;
  }
}
