.reveal-item {
  /* OPACITY MODIFIERS */
  &--opacity-visible {
    opacity: 1;
  }
  &--opacity-hidden {
    opacity: 0;
  }

  /* TRANSITION MODIFIERS */
  &--transition-slow {
    transition: all 1s ease-out;
  }
  &--transition-fast {
    transition: all 0.5s ease-out;
  }

  /* SCALE MODIFIERS */
  &--scale-default {
    transform: scale(1);
  }
  &--scale-up {
    transform: scale(1);
    @mixin atSmall {
      transform: scale(1.025);
    }
    @mixin atMedium {
      transform: scale(1.05);
    }
  }
}
